*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}


.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: #f2f2f2;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;

}

.links > a:hover {
	text-decoration-line: none;
}

.m-b-md {
	margin-bottom: 30px;
}

.landing{
	background-image: linear-gradient(to top right, rgba(56, 97, 194, .76), rgba(75, 129, 255, .5)),  url("../images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	/*overflow: hidden;*/
}


.landingSelect .card{ 
	border-radius: 0;
}

.absolute{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}